.result-card {
  border: 1px solid #0064d2;
  margin: 10px 0px;
  background: #e6f2ff;
  padding: 5px;
}

.result-title{
  text-align: center;
  margin: 10px;
  padding: 5px;
  color: #212529;
}

.result-message{
  text-align: left;
  margin: 10px;
  padding: 5px;
  color: #212529;
}

.result-score{
  text-align: left;
  margin: 10px;
  padding: 5px;
  color: #212529;
}

.result-recommendation{
  text-align: left;
  margin: 10px;
  padding: 5px;
  color: #212529;
}
