<div *ngFor="let question of quiz.questions; index as i">
  <!--<div class="questionNumber">-->
    <!--<h2>Question {{question.questionId+1}} of {{quiz.questions.length}}</h2>-->
  <!--</div>-->
  <div class="question">
    <h2>{{question.questionId+1}}. {{ question.question}}</h2>
  </div>
  <div class="row">
    <div *ngFor="let options of question.options; index as j" >
      <div class="option">
        <button type="button" class="btn col btn-outline-secondary btn-option" [ngClass]="{'btn-outline-info':question.answerSelected == j}" (click)="onAnswerSelection(question.questionId, j)">{{options}}</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
