<app-quiz-result [quiz]="quiz" [totalScore]="totalScore"></app-quiz-result>
<div *ngFor="let question of quiz.questions; index as x">
  <div class="question">
    <h2>{{question.questionId+1}}. {{ question.question}}</h2>
  </div>
  <div class="row">
    <div *ngFor="let options of question.options; index as y">
      <div class="option">
 <span *ngIf="y == question.answerSelected && question.answerSelected == question.answer">
 <button type="button" class="btn btn-success col btn-option" >{{options}}</button>
 </span>
      <span *ngIf="y == question.answer && y != question.answerSelected">
 <button type="button" class="btn btn-success col btn-option" >{{options}}</button>
 </span>
      <span *ngIf="y != question.answer && y == question.answerSelected">
 <button type="button" class="btn btn-outline-danger col btn-option" >{{options}}</button>
 </span>
      <span *ngIf="y != question.answer && y != question.answerSelected">
 <button type="button" class="btn btn-outline-secondary col btn-option" >{{options}}</button>
 </span>
      </div>
    </div>
  </div>
</div>
<app-quiz-result [quiz]="quiz" [totalScore]="totalScore"></app-quiz-result>
