<div class="container">
  <div class="row" >
    <h1>All GK trivia Quizzes</h1>
  </div>
  <div class="row" >

    <div *ngFor="let datum of search">
      <div class="row">
        <div class="col-lg-2 col-xs-3"> <strong>Exam name:</strong></div>
        <div class="col-lg-2 col-xs-9"> <a href="/quizzes/{{datum.id}}">{{ datum.name }}</a></div>
        <div class="col-lg-2 col-xs-3"><strong>description:</strong></div>
        <div class="col-lg-2 col-xs-9">{{ datum.description }}</div>
        <div class="col-lg-2 col-xs-3"><strong>language:</strong></div>
        <div class="col-lg-2 col-xs-9">{{ datum.language }}</div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-xs-3"><strong>keywords:</strong></div>
        <div class="col-lg-2 col-xs-9">{{ datum.keywords }}</div>
        <div class="col-lg-2 col-xs-3"><strong>domain:</strong></div>
        <div class="col-lg-2 col-xs-9"> {{ datum.domain }}</div>
        <div class="col-lg-2 col-xs-3"></div>
        <div class="col-lg-2 col-xs-9"></div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-xs-3"><strong>level: </strong></div>
        <div class="col-lg-2 col-xs-9">{{datum.level}}</div>
        <div class="col-lg-2 col-xs-3"></div>
        <div class="col-lg-2 col-xs-9"></div>
        <div class="col-lg-2 col-xs-3"></div>
        <div class="col-lg-2 col-xs-9"></div>
      </div>
      <hr class="separator"/>
    </div>


  </div>
</div>
<router-outlet></router-outlet>
