<div class="container">
  <!-- title -->
  <div class="row">
    <div class="heading-large">
      <h2>{{ quizTitle }}</h2>
    </div>
  </div>


  <div class="row">

    <!-- Quiz question -->
    <div *ngIf="showQuiz">
      <app-quiz-question [quiz]="quiz"></app-quiz-question>
      <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block btn-quiz-submit" (click)="onSubmit()">Check Your Score</button>
      </div>
    </div>

    <!--Quiz Answer -->
    <div *ngIf="showQuizAnswer">
      <app-quiz-answer [quiz]="quiz" [totalScore]="totalScore"></app-quiz-answer>
    </div>

  </div>

</div>
<router-outlet></router-outlet>
