.container {
    max-width: 800px;
}

.heading-large {
  font-size: 37px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-weight: 800;
}

.btn-quiz-submit {
  margin: 20px 0px 0px;
  padding: 5px;
  width: 100%;
}
